<div class="container">

		<% flash.each do |key, value| %>
	    <div class="alert alert-<%= key %>"><%= value %></div>
	  <% end %>
	 
	<div id="submit_form">
		<h3> CONTACT</h3>
	  <%= render "contact_form" %>
	</div>

	<br>
	<div id="google_map">
		<h3> VISIT BRANCH STUDIO </h3>
		<%= render "layouts/map" %>
		<div id="contact_about", class="font">
			<%= @about.address_line_1 %>
			<%= @about.address_line_2 %>
			<%= @about.city %> <%= @about.state %> <%= @about.zip %>
			<%= @about.phone %>
		</div>
	</div>

</div>