<div class="container">

		<% flash.each do |key, value| %>
	    <strong><div id = "flash" class="alert alert-<%= key %>"><%= value %>
			</div></strong>
	  <% end %>

	<div id="submit_form">
		<h3> CONTACT</h3>
	  <%= render "contact_form" %>
	</div>

	<br>
	<hr>
	<div id="google_map">
		<h3> VISIT BRANCH STUDIO </h3>
		<%= render "layouts/map" %>
		<div id="contact_about", class="font">
			<%= @about.address_line_1 %>
			<%= @about.address_line_2 %>
			<%= @about.city %> <%= @about.state %> <%= @about.zip %>
			<%= @about.phone %>
		</div>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function(){
  setTimeout(function(){
    $('#flash').remove();
  }, 5000);
 })
</script>