<div class='container'>
	<a type="button" class="btn button" href="/dashboard" >&#8592; Back</a><br><br>
	<a type="button" class="btn button" href="#new_service_modal" data-toggle="modal">+ Add New Service</a> 
	<br><br>

	<div class="services_list">
		<div class="row feature_title">
				<div class="col-md-3">
					<h4>Class</h4>
				</div>
				<div class="col-md-3">
					<h4>Level</h4>
				</div>
				<div class="col-md-3">
					<h4>Category</h4>
				</div>
				<div class="col-md-3">
					<h4></h4>
				</div>
		</div>

		<div class="services_list">
			<div class="row">
				<% @services.order("name").each do |s| %>
				<div class="col-md-3">
					<%= s.name %>
				</div>
				<div class="col-md-3">
					<%= s.level.name %>
				</div>
				<div class="col-md-3">
					<%= s.category.name %>
				</div>
				<div class="col-md-3">
					<%= link_to 'Edit', edit_dashboard_service_path(s) %>
				</div>
				<% end %>
			</div>
		</div>
	</div>

</div>


<div class="modal fade" id="new_service_modal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3>New Service</h3>
  </div>
  <div><br>
	  <%= render "layouts/service_form" %>
  </div>
</div>
