
<div class="container">
	<h1>HomePage</h1>

	<div class="carousel">
		Hero image that cycles through multiple photos
	</div>
	<br><br>
	<hr>
	<div class="featured_services">
		<% @services.where(is_featured: 'true').each do |s| %>
		<div>
			<%= link_to s.name, s %> <br><br>
			<%= s.description %>
		</div>
		<br>
		<% end %>
	</div>
	<br>
	<hr>
	<div class="about_text">
		ABOUT US: <br><br>
		<%= @about.about_text %>
	</div>
	<br><br>
	<hr>
	MEET THE INSTRUCTORS AT BRANCH STUDIO: <br><br>
	<div class="homepage_instructors">
		<% @trainers.each do |t| %>
		<div>
			<%= link_to (t.first_name + ' ' + t.last_name), t %> <br><br>
			<%= t.bio %>
		</div>
		<br>
		<% end %>
	</div>

</div>

<br />

