
<section id="home" data-type="background" data-speed="10" class="pages">     
  <article>
    <div id="welcomeBox">
      <%= image_tag("Branch_logo.png") %>
    </div>
  </article>
</section>   


<div class="container">

    <% @services.where(is_featured: 'true').each do |s| %>
    <div class="col-sm-6">
      <div class="thumbnail">
        <img><%= image_tag s.photo.url(:medium) %></img>
        <div class="caption"><%= s.description %></div>
        <div class="learnMore"><%= link_to 'LEARN MORE', appointments_path, "data-no-turbolink" => true  %></div>
      </div>
    </div>
    <% end %>

	<div class="aboutText">
    <br><hr>
		<h6><%= @about.about_text %></h6>
		<a class='btn btn-primary button contact_button' href='/contact' data-no-turbolink="true">Learn more</a>
	</div>
	<br><br>
	<hr>
	<h5>MEET THE INSTRUCTORS AT BRANCH STUDIO</h5>
	<br><br>
  <div class="row">
    <div class="col-sm-1"><%= image_tag("leftarrow.png", id: "leftarrow") %>
    </div>
    <div class="col-sm-10">
      <div class="row">
      <!-- replace the trainers.each with paperclip link to images -->
        <div class="trainerpics">
        	<div class="indtrainer"><% @trainers.each_with_index do |t, index| %>
            <div class="col-sm-1">
            	<a href="/trainers"><%=image_tag t.photo.url%></a>
              <div class="carousel-caption"><%= link_to (t.first_name + ' ' + t.last_name), t %>
              </div>
            </div>
        <% end %>
       		</div>
    		</div>
    	</div>
  	</div>
    <div class="row">
    	<div class="col-sm-1"><%= image_tag("rightarrow.png", id: "rightarrow") %>
    	</div>
    	<!-- <div class="col-sm-10"> -->
<!--     		<div class="row">
  			</div>   -->
			</div>
		</div>
	</div>

</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
<script src="jquery.parascroll.js"></script> 