<div class='container'>
	<%= link_to "< Back to Dashboard", '/dashboard', "data-no-turbolink" => true %><br><br>
	<div>
		<a type="button" class="btn button" href="#new_appointment_modal" data-toggle="modal">Add New Appointment</a>
	</div><br><br>

	<div class="calendar">
		<div class="row feature_title">
				<div class="col-md-3">
					<h4>Class</h4>
				</div>
				<div class="col-md-3">
					<h4>Day of Week</h4>
				</div>
				<div class="col-md-3">
					<h4>Time</h4>
				</div>
				<div class="col-md-3">
					<h4>Trainer</h4>
				</div>
		</div>
		<!-- Render all appointments -->
		<div class="services_list">
			<div class="row">
				<% @appointments.order("weekday_id", "start_time").each do |a| %>
				<div class="col-md-3">
					<%= a.service.name %>
				</div>
				<div class="col-md-3">
					<%= a.weekday.name %>
				</div>
				<div class="col-md-3">
					<%= a.start_time.strftime("%l:%M%P") %> - <%= a.end_time.strftime("%l:%M%P") %>
				</div>
				<div class="col-md-3">
					<%= a.trainer.full_name %>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="new_appointment_modal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3>New Appointment</h3>
  </div>
  <div><br>
	  <%= render "layouts/appointment_form" %>
  </div>
</div>