<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand">
        <div><%= link_to 'BRANCH STUDIO', '/home', "data-no-turbolink" => true  %></div>
      </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to 'SERVICES', appointments_path, "data-no-turbolink" => true  %><span class="sr-only">(current)</span></li>
        <li><%= link_to 'TRAINERS', trainers_path, "data-no-turbolink" => true %></li>
        <li><%= link_to 'CONTACT', contact_path, "data-no-turbolink" => true %></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to(image_tag("Icon_fb_2.png"), 'https://www.facebook.com/') %></li>
        <li><%= link_to(image_tag("Icon_twitter.png"), 'https://twitter.com/') %></li>
				<% if current_user != nil && current_user.is_admin? %>
					<li><%= link_to "Dashboard", '/dashboard', "data-no-turbolink" => true, style: 'color:#f000ec;' %></li>
				<% end %>
				<% if current_user != nil %>
					<li><%= link_to "Logout", session_path(:current_session), method: :delete %></li>
				<% else %>
					<li><a type="button" class="btn" href="#login_modal" data-toggle="modal">SIGN IN</a></li>
				<% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



<div class="modal fade" id="login_modal">
  <div class="modal-header">
    Welcome to Branch Studio
    <a class="close" data-dismiss="modal">&times;</a>
  </div>
  <div class="modal-body">
    <h6>Login</h6>
    <div id="loginPartial">
	    <%= render "layouts/login" %>
    </div>
	  <hr>
    <div id="signupPartial">
	    <h6>Signup</h6>
    </div>
	  <%= render "layouts/signup" %>
  </div>
</div>


