<div class="container">
	<div class="header">
		<div class="left_header">


			  
				<div class="nav_links">
					<%= link_to 'BRANCH STUDIO', '/home', "data-no-turbolink" => true  %> &nbsp;
					<%= link_to 'SERVICES', appointments_path, "data-no-turbolink" => true  %> &nbsp; 
					<%= link_to 'TRAINERS', trainers_path, "data-no-turbolink" => true %> &nbsp;
					<%= link_to 'CONTACT', contact_path, "data-no-turbolink" => true %> &nbsp;
					<% if current_user != nil && current_user.is_admin? %>
						<%= link_to "DASHBOARD", '/dashboard', "data-no-turbolink" => true, style: 'color:#f000ec;' %> &nbsp;
					<% end %>
				</div>
		</div>
		<div class="right_header">
			<% if current_user != nil %>
				Logged in as: <%= current_user.email %>
			<% end %>
			<% if current_user != nil %>
				<%= link_to "Logout", session_path(:current_session), method: :delete %>
			<% else %>
				<a type="button" class="btn" href="#login_modal" data-toggle="modal">LOGIN/SIGNUP</a>
			<% end %>
		</div>
		
	</div>

</div>


<div class="modal fade" id="login_modal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3>Login</h3>
  </div>
  <div class="modal-body">
	  <%= render "layouts/login" %>
	  <hr>
	  <h3>Signup</h3>
	  <%= render "layouts/signup" %>
  </div>
</div>