<div class="container">

	<div class="header">

		<div class="leftHeader">
			<div class="navLinks">
				<%= link_to(image_tag("Branch_logo_sm.png"), '/home', "data-no-turbolink" => true) %>
				<div><%= link_to 'BRANCH STUDIO', '/home', "data-no-turbolink" => true  %></div>
				<div><%= link_to 'SERVICES', appointments_path, "data-no-turbolink" => true  %></div>
				<div><%= link_to 'TRAINERS', trainers_path, "data-no-turbolink" => true %></div>
				<div><%= link_to 'CONTACT', contact_path, "data-no-turbolink" => true %></div>
			</div>
		</div>

		<div class="rightHeader">
			<div><%= link_to(image_tag("Icon_fb_2.png"), 'https://www.facebook.com/') %></div>
			<div><%= link_to(image_tag("Icon_insta.png"), 'https://instagram.com/') %></div>
			<div><%= link_to(image_tag("Icon_twitter.png"), 'https://twitter.com/') %></div>
			<% if current_user != nil %>
				<div><%= current_user.first_name %></div>
			<% end %>
			<% if current_user != nil && current_user.is_admin? %>
				<div><%= link_to "Dashboard", '/dashboard', "data-no-turbolink" => true, style: 'color:#f000ec;' %></div>
			<% end %>
			<% if current_user != nil %>
				<div><%= link_to "Logout", session_path(:current_session), method: :delete %></div>
			<% else %>
				<a type="button" class="btn" href="#login_modal" data-toggle="modal">SIGN IN</a>
			<% end %>
		</div>

	</div>
</div>


<div class="modal fade" id="login_modal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3>Login</h3>
  </div>
  <div class="modal-body">
	  <%= render "layouts/login" %>
	  <hr>
	  <h3>Signup</h3>
	  <%= render "layouts/signup" %>
  </div>
</div>