
<div class="container">
	<div class="header">
		<div class="left_header">
			  
				<div class="nav_links">
					<%= link_to 'BRANCH STUDIO', '/home', "data-no-turbolink" => true  %> | 
					<%= link_to 'SERVICES', appointments_path, "data-no-turbolink" => true  %> | 
					<%= link_to 'TRAINERS', trainers_path, "data-no-turbolink" => true %> | 
					<%= link_to 'CONTACT', contact_path, "data-no-turbolink" => true %> | 
					<a type="button" class="btn" href="#login_modal" data-toggle="modal">LOGIN</a>

				</div>
		</div>
		<div class="header_hamburger">
			
		</div>
	</div>
</div>

<hr />

<div class="modal fade" id="login_modal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3>Modal Header</h3>
  </div>
  <div class="modal-body">
    <p>Test Modal</p>
  </div>
  <%= render "layouts/login" %>
</div>